body{

    background-color: rgb(191, 191, 193);
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

h1{
    font-size: 30px;
    word-spacing: 1px;
    color: rgb(7, 7, 7);
    text-align: center;

}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 10px;
    color: brown;
}

head{
    text-align: center;
    margin-bottom: 20px;

}

p {
    margin-bottom: 30px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 420px;
    margin-top: 40px;
    text-align: center;
}

.container{

    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 420px;
    margin-top: 40px;
    text-align: center;

}

.input-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

}

input{
    width: 400px;
    padding: 10px;
    margin: 10px ;
    box-sizing: border-box;
    border-radius: 15px;
    border: 0.3px solid #878585;
}

botton{
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 100px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

button:hover{
    background-color: #1946da;
    transition: 0.5s;
}

.facebook{
    text-decoration: none;
    margin-right: 10px;
    background-color: #1f2582;
    color: #f4f4f4;
    padding: 12px;
    border-radius: 20px;
    margin-left: -3px;
}

.twitter{
    text-decoration: none;
    margin-right: 3px;
    background-color: #2a75f6;
    color: #f4f4f4;
    padding: 12px;
    padding-right: 25px;
    border-radius: 20px;
    
}

.google{
    text-decoration: none;
    background-color: red;
    color: #f4f4f4;
    padding: 12px;
    padding-right: 25px;
    border-radius: 20px;
    
}

.media-button .facebook .f{
    padding: 10px;
    margin-left: -5px;
    
}


.media-button .twitter .t{
    padding: 8px;
    margin-left: -5px;

}

.media-button .google .g{
    padding: 15px;
    margin-left: 100px;
  
}


.divider{
    display: flex;
    align-items: center;
}

.divider::before, .divider::after {
    content: "";
    padding: 1px;
    background-color: red;
    flex: 1;
    margin: 15px 3px;
}

.divider-btn{
    /* font-size: 20px; */
    padding: 5px;
    background-color: #c3c1c1;
    border: 2px;
    border-radius: 55%;

}


.Or p{
    
    /* margin-top: -23px;
    border-radius: 100px;
    border: 1px solid rgb(144, 144, 144)
    background-color: white;
    opacity: 100%;
    color: black;
    width: 25px:
    padding: 4px;
    margin-left: 185px; */
    
    
}

hr{
    color: #c3c1c1;
}